.custom-button {
	margin-top: 1.5rem;
	padding: 15px 30px;
	min-width: 150px;
	width: auto;
	font-size: 1rem;
	border: 1px solid black;
	background: none;
	background-color: black;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	font-weight: 600;
	letter-spacing: 1px;
	transition: background-color, color, border, 0.2s ease;
	&:hover {
		color: black;
		border: 1px solid black;
		background-color: white;
	}
	&.google-login-btn {
		background-color: #4285f4;
		border: 1px solid #4285f4;
		color: white;
		&:hover {
			background-color: #357ae8;
			border: 1px solid #357ae8;
		}
	}
}
