.homepage-container {
	.homepage-content {
		display: flex;
		width: 100%;
		align-items: center;
		flex-wrap: wrap;
		.item-card {
			min-width: 350px;
			flex: 1;
			border: 1px solid black;
			margin: 10px;
			padding: 5rem 2rem;
			.item-card-content {
				padding: 20px;
				border: 1px solid black;
				width: fit-content;
				margin: 0 auto;
				text-align: center;
			}
		}
	}
}
