.checkout {
	&-card {
		width: 350px;
		height: 400px;
		padding: 1rem;
		background-color: white;
		cursor: default;
		z-index: 1;
		border: 3px solid black;
	}
	&-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
	&-items {
		flex: 1;
		overflow-y: auto;
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: black;
		}
	}
}
.cart {
	&-items {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
	}
}
