@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', sans-serif;
}

.content {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
